* {
  background-color: whitesmoke;
}
#customers {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 2px;
  background-color: #f2f2f2;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: yellowgreen;
  color: white;
}

.navigationbar {
  display: flex;
  position: relative;
  align-items: center;
}

.navigationbar li {
  list-style: none;
  border: 1px solid black;
  padding: 2px;
  margin: 0 5px;
  display: flex;
}

.navigationbar li .pagenumber {
  width: 50px;
  text-align: center;
}

.navigationbar li:hover {
  background: #333;
  color: #fff;
  cursor: grab;
}

.navigationbar li:active {
  background: #333;
  color: #fff;
  cursor: grab;
}
